
/* CSS Document */
.col1{

}
.col2{

}
.col3{

}
.thumbcontainer{
width:70%;
}
.footcontainer{
background-color:#022c7f;
color:#ffffff;
margin-bottom:5%;
margin-top:2%;
}
.abu{
color:#555555;
}
.timg{
height:300px;
}
.imgH{
height:150px !important;
}
/*.navb{
background-color:#5C7080;
}*/
/*.container{
width:100%;
}*/
